* {
	font-family: Helvetica, sans-serif;
}

.type__header { text-align: center; }

.type__nav-item { cursor: pointer; }
.type__subnav-link { 
	font-size: .8rem;
	cursor: pointer; 
}

.type__trigger { color: #747c81; }
.type__trigger:hover { color: #e79f39; }

.type__field {
	display: block;
	margin: 1rem;
	padding: .5rem;
	font-size: 1.2rem;
}

.type__label {
	display: block;
	margin: 1rem 0 -.5rem 1rem;
	font-size: 1.2rem;
}

.type__textarea {
	display: block;
	margin: 1rem;
	padding: .5rem;
	min-width: 30vw;
	max-width: 30rem;
	min-height: 5rem;
	font-size: 1rem;
}

.type__submit-copy {
	font-size: 3rem;
}